@supports (position:sticky) {
  .sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}


#header {
  width: 100%;
  height: 80px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.position-relative {
  position: relative !important;
}

#header nav > .top {
  height: 48px;
  background-color: #e3061b;
}

#header nav > .bottom > .content, #header nav > .top > .content {
  max-width: 1297px;
  margin: 0 auto;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  min-height: auto;
  border: none;
}

.pr-3, .px-3 {
  padding-right: 1rem !important;
}

.pl-3, .px-3 {
  padding-left: 1rem !important;
}

#header nav > .top a {
  line-height: 0;
}

#header nav > .top > .content .toggleMenu {
  top: 3px;
  display: none;
  cursor: pointer;
}

.img-fluid, .img-thumbnail {
  max-width: 100%;
  height: auto;
}

#header nav > .top #menuIcon {
  width: 40px;
}

#header nav > .top > .content > .logo {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  cursor: pointer;
  margin-right: 30px;
  margin-top: 0;
}

#header nav > .top img {
  width: auto;
  height: -webkit-fit-content;
  height: fit-content;
  height: -moz-fit-content;
}

#header nav > .top > .content > .logo img {
  height: 40px;
  margin: 0;
}

#header nav > .top > .content .toggleMenu {
  top: 3px;
  display: none;
  cursor: pointer;
}

#header nav > .top > .content .toggleMenu.black {
  z-index: 1;
  margin-right: -65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


#header nav > .top > .content > .menu-back {
  background-color: #fff;
  -webkit-clip-path: polygon(30% 0,100% 0,100% 100%,0 100%);
  clip-path: polygon(30% 0,100% 0,100% 100%,0 100%);
  position: relative;
  width: 85px;
  margin-right: -16px;
}

#header nav > .top > .content > .menu {
  color: #0b0323;
  width: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: right;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative;
  height: 48px;
  right: 40px;
  overflow: visible;
  display: none;
}

#header nav > .top > .content > .menu ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px 0 0;
}

.d-flex {
  display: -ms-flexbox !important;
  display: -webkit-box !important;
  display: flex !important;
}

#header nav > .bottom ul li, #header nav > .top > .content > .menu ul li, .moreButton, span.button {
  font-size: 16px !important;
  font-weight: 700;
}

#header nav > .bottom ul li, #header nav > .top > .content > .menu ul li {
  line-height: 26px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  margin: 0;
}

#header nav > .top > .content > .menu ul li {
  position: relative;
}

.align-items-center {
  -ms-flex-align: center !important;
  -webkit-box-align: center !important;
  align-items: center !important;
}

#header nav > .top > .content .menuitemLabel {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#header nav > .top > .content > .menu ul li .menuitemLabel {
  padding: 4px 22px 4px 20px;
  margin: 8px 0;
}

#header nav > .top > .content > .menu ul li .menuitemLabel a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
}

#header nav > .bottom {
  height: 32px;
  background-color: #fff;
  color: #0b0323;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow-x: scroll;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-top: 0;
}

#header nav > .bottom a {
  color: #000;
}

#header nav > .bottom ul {
  list-style-type: none;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 0;
}

#header nav > .bottom ul li::before {
  content: "\25A0";
  color: #e3061b;
  margin-left: -10px;
  margin-right: 5px;
  width: 20px;
  display: inline-block;
  font-weight: 700;
  font-size: 12px;
  line-height: 0;
  top: -3px;
  position: relative;
}

#header nav > .bottom ul li:first-child::before {
  content: "";
  width: 5px;
}

#header nav > .bottom ul li:not(:first-of-type) {
  margin-left: 30px;
}

#header nav > .bottom ul li:last-of-type {
  padding-right: 34px;
}

#header nav > .top > .content > .menu ul li .menuitemLabel.withIcon {
  padding: 4px 22px 4px 5px;
}

#header nav > .top > .content > .menu ul li .menuitemLabel img.icon {
  height: 48px;
  width: auto;
}

.text-nowrap {
  white-space: nowrap !important;
}

@media (max-width: 479px) {
  .content {
    padding-top: 0 !important;
  }
}

@media (max-width: 711px) {
  .content {
    width: 100% !important;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1099px) {
  #header nav > .top > .content > :first-child {
    padding-left: 40px;
  }
}

@media screen and (min-width: 767px) {
  #header nav > .top > .content > .logo {
    margin-left: 0;
  }
}

@media (min-width: 992px) {
  .ml-lg-3, .mx-lg-3 {
    margin-left: 1rem !important;
  }
}

@media screen and (min-width: 1200px) {
  #header nav > .top > .content .toggleMenu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  #header nav > .top > .content .toggleMenu.black {
    display: none !important;
  }

  #header nav > .top > .content > .menu-back {
    width: 130%;
    margin-right: initial;
    -webkit-clip-path: polygon(30px 0,100% 0,97% 100%,0 100%);
    clip-path: polygon(30px 0,100% 0,97% 100%,0 100%);
  }

  #header nav > .top > .content > .menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  #header nav > .bottom {
    background-color: #0b0323;
  }
  #header nav > .bottom ul li {
    color: #fff;
  }

  #header nav > .bottom a {
    color: #fff;
  }
}